.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.settings__setting:last-child {
  padding-bottom: 30px;
  border-color: rgba(0, 0, 0, 0.3);
}

.settings__setting-new {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
}
